/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// end of css reset

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

//

.wrapper {
  width: 940px;
  margin: 0 auto 30px;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0px 3px 7px 2px #CCC;
}
header {
  background: url(/i/background.png);
  margin: 12px 0 0 0;
  height: 151px;
}
.header__heading {
  font: bold 34px/44px sans-serif;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  display: block;
  padding: 35px 0 0 0;
}
.contact {
  width: 100%;
  line-height: 48px;
  background: #F8F5ED;
  text-align: center;
}
.contact__link {
  color: #CC3885;
  font-weight: bold;
  text-decoration: underline;
}
.contact__phone {
  font-weight: bold;
}
.content-heading {
  margin: 30px 0 15px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  clear: both;
}
.content-link {
  color: #CC3885;
}
.advantages {
  width: 840px;
  margin: 0 auto;
}
.row {
  border-top: 1px solid #EEE;
  line-height: 20px;
}
.row_last {
  border-bottom: 1px solid #EEE;
}
.row__left {
  width: 285px;
  padding: 20px 10px 25px 0;
  font-weight: bold;
  float: left;
}
.row__right {
  width: 500px;
  float: left;
  padding: 20px 0 20px;
}
.cols {
  margin: 0 0 20px 0;
}
.col {
  float: left;
  width: 180px;
  text-align: center;
}
.col__text {
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0 0 0;
  text-align: left;
}
.col-separator {
  float: left;
  margin: 20px 0 0 0;
}

// example for screen < 940

@media screen and (max-width: 940px) {
  header {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
  .header__heading {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .wrapper, .advantages {
    width: 100%;
  }
  .wrapper {
    margin: 0;
    border: none;
    box-shadow: none;
  }
  .row {
    padding: 15px;
  }
  .row__left, .row__right {
    width: 100%;
    padding: 0;
  }
  .col {
    clear: both;
    width: 100%;
  }
  .col__text {
    padding: 20px;
  }
  .col-separator {
    display: none;
  }
}

//js

.js-task {
  padding: 20px;
}
.js-task__p {
  margin: 0 0 10px 0;
}
.js-task__p span {
  cursor: pointer;
}
