doctype html
html(lang="ru")
  head
    title Почему Достависта?
    link(rel="stylesheet", href="css/main.css")
  body
    section.wrapper
      header
        h1.header__heading Идеальная служба доставки<br>для интернет-магазинов день в день!
      .contact
        | Закажите пробную доставку <a class="contact__link" href="#">через форму на сайте</a> или по телефону
        span.contact__phone +7 495 215-11-69

      h2.content-heading Почему Достависта?

      .advantages
        .row.cf
          .row__left Клиент требует доставить срочно?
          .row__right Мы доставляем за 2-3 часа по Москве. Или когда будет удобно.

        .row.cf
          .row__left Заболел свой курьер?
          .row__right Все курьеры уже заняты и некому доставить новый заказ? В Достависте Вы всегда сможете заказать курьера на замену. В течение 1-2 часов курьер будет у Вас. В любое время суток. Без бюррократии и выматывающих звонков диспетчеру. Просто заполните <a class="content-link" href="#">форму заказа</a>!

        .row.cf
          .row__left Заказов не так много, чтобы держать курьера на зарплате?
          .row__right Мы поможем сэкономить! Нам неважно сколько заказов вы делаете — раз в год или 1000 заказов — в месяц. Условия неизменны. Вы важны для нас независимо от количества заказов.

        .row.cf
          .row__left Хотите протестировать новую рыночную нишу без лишних затрат и бюрократии?
          .row__right Это проще, чем вы подумали! Просто покажите нам поставщиков, а наш курьер выкупит у них товар за свои собственные деньги и получит деньги с покупателя. Таким образом, вы просто создаете витрину и оформляете покупку, а мы делаем все остальное.

        .row.row_last.cf
          .row__left Хотите иметь конкурентное преимущество, предлагая доставку день в день?
          .row__right Кризис — возможность сделать рывок, пока Ваши конкуренты оглушены новыми вызовами рынка. А Вы уже сегодня доставляете заказы день в день. По нашей статистике клиент, получивший желанную покупку через пару часов в 6 раз чаще говорит об этом друзьям и знакомым.

        h2.content-heading Как мы работаем

        section.cols.cf
          .col
            .col__img
              img(src="i/in-description-checkbox.png")
            .col__text Заказ принимается через онлайн-форму заказа круглосуточно 24/7 или по телефону. Обычно курьер назначается и выезжает к вам в течение 10 минут после получения заявки.
          img.col-separator(src="i/in-description-arrow.png")

          .col
            .col__img
              img(src="i/in-description-compass.png")
            .col__text Вы можете в реальном времени видеть местонахождение курьера в своем личном кабинете. А также можете добавить или удалить адреса из заказа в процессе его выполнения.
          img.col-separator(src="i/in-description-arrow.png")

          .col
            .col__img
              img(src="i/in-description-mail.png")
            .col__text Получателям на каждом из адресов приходит смс с телефоном курьера, а Вам — смс о прохождении курьером каждого адреса.
          img.col-separator(src="i/in-description-arrow.png")

          .col
            .col__img
              img(src="i/in-description-like.png")
            .col__text После завершения заказа Вы можете оценить курьера.
