doctype html
html(lang="ru")
  head
    title JS task Достависта
    link(rel="stylesheet", href="/css/main.css")
  body.js-task
    p.js-task__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet metus facilisis, lacinia tortor non, interdum est. Donec tempor justo lacus, a posuere elit tempus sit amet. Phasellus vulputate faucibus justo a suscipit. Quisque in egestas massa, in venenatis elit. Sed est sapien, posuere id velit vitae, varius blandit dui. In pulvinar turpis justo, a faucibus nisl lobortis tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur sed metus magna. Vestibulum mattis imperdiet eros sit amet fermentum. Morbi vitae purus in sapien tempor hendrerit. Donec interdum, ex malesuada convallis varius, lectus leo aliquam dolor, quis posuere dolor ligula a elit. Donec bibendum condimentum ornare. Morbi mattis ultrices vehicula.

    p.js-task__p Praesent sollicitudin turpis massa, a convallis metus ultrices sit amet. Nam non mauris quam. In a posuere elit. Phasellus eget suscipit diam. Nulla ultrices elit in ipsum tincidunt, ac elementum diam rhoncus. Morbi vulputate lorem nec nibh pellentesque consequat. Nulla ultricies porttitor consequat. Aliquam vulputate dui non arcu dictum consectetur. Phasellus condimentum posuere mi, in fermentum orci ullamcorper sed. Fusce id sem quis sem accumsan pretium nec ac ex.

    p.js-task__p Fusce a eros malesuada, bibendum quam et, molestie eros. In auctor cursus mauris quis molestie. Cras cursus luctus ipsum, a maximus magna auctor ac. Mauris vel ligula vel felis efficitur ultrices in sed neque. Vivamus tincidunt lorem mauris, sed maximus turpis semper vel. Vestibulum aliquet, mauris vel feugiat suscipit, justo odio feugiat libero, quis volutpat augue urna id felis. Phasellus vestibulum dapibus nisl a faucibus. Nulla aliquam augue nunc, sed dapibus nisi cursus in. Vestibulum non sodales neque, et dapibus diam. Suspendisse id mauris ut dui mattis efficitur. Duis dictum semper lobortis. Ut pulvinar, nunc id bibendum faucibus, est tortor feugiat felis, quis ornare magna orci nec diam. Aenean dolor arcu, faucibus at posuere at, mollis vitae diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur elementum mollis purus.

    p.js-task__p In nec rhoncus justo. Nunc id lacus vel nibh aliquam luctus nec a elit. Suspendisse vel cursus velit. Curabitur accumsan quam velit, vel vulputate purus dapibus eget. Praesent ut orci dolor. Ut ac ligula magna. In vel mauris vel augue elementum placerat ultrices et diam. Etiam eu libero in dolor commodo porta. Phasellus tincidunt feugiat massa, sed pharetra enim consequat eget. Etiam quis enim ornare, elementum velit non, gravida erat.

    p.js-task__p Vestibulum lobortis lectus id risus tempor tempus. Pellentesque dictum, tortor a ultricies rutrum, neque purus suscipit quam, ut malesuada velit lectus ullamcorper enim. Mauris fringilla ante et cursus fermentum. Phasellus sollicitudin laoreet luctus. Aenean varius vulputate libero, at bibendum massa aliquam in. Donec quis laoreet sapien. Suspendisse potenti. Nam nec aliquet tortor, non convallis lorem. Morbi laoreet urna a neque semper, et sollicitudin odio vestibulum. Vestibulum porttitor aliquam lobortis.

  script(src="js/hide-word.js")
